@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

#content {
    max-width: 2600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: grey;
    color: white;
}

.home-title {
    color: white;
    margin-top: 10px;
}

.book, .join {
    background-color: #145bff;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, join:hover {
    background-color: grey;
    color: white;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

#hero-img {
    width: 100%;
}

.card-img {
    border: 10px solid black
}

.icon {
    padding-top: 10px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.msg {
    background-color: #2b9130;
    padding: 35px;
}

.msg h2 {
    color: white;
}

.msg p {
    color: white;
    font-size: .8em;
    padding-bottom: 15px;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

h2 {
    margin: 0;
}

h4 {
    color:white;
}

main section img {
    box-sizing: border-box;
}

#background {
    height: 725px0;
    background-color: #62b6cb;
}

body {
    background-color: #62b6cb;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}

.icon, .logo{
    width: 80px;
}

header {
    background-color: #145bff;
    font-family: 'Lora', serif;
}

footer {
    background-color: #145bff;
    color: white;
    padding: 25px 50px;
}

footer p {
    font-size: 1.2em;
    text-decoration: underline;
}

footer a {
    color: white;
    text-decoration: none;
    margin-top: 200px;
}

footer a:hover {
    color: white;
}

footer .social img {
    padding-top: 15px;
}

a:hover {
    text-decoration: underline;
}

.home-title {
    font-family: 'Lora', serif;
    font-size: 2em
}

#logo-link {
    padding-top: 5px;
}